# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.md text eol=lf

# Denote all files that are truly binary as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
