<ion-content class="login-content">
  <div class="login-wrapper">
    <div class="logo-box">
      <img
        src="assets/img/Gastonsillo.png"
        alt="Logo"
        class="logo"
      />
    </div>
    <h1>Bienvenido</h1>
    <p class="subtitle">
      Inicia sesión para continuar
    </p>
    <div class="login-card">
      <div class="input-group">
        <div class="input-box">
          <ion-icon
            name="mail-outline"
            class="input-icon">
          </ion-icon>
          <ion-input
            type="text"
            placeholder="Correo electrónico">
          </ion-input>
        </div>
        <div class="input-box">
          <ion-icon
            name="lock-closed-outline"
            class="input-icon">
          </ion-icon>
          <ion-input
            type="password"
            placeholder="Contraseña">
          </ion-input>
          <ion-icon
            name="eye-off-outline"
            class="eye-icon">
          </ion-icon>
        </div>
      </div>
      <div class="options-row">
        <div class="remember">
          <input type="checkbox">
          <span>Recordarme</span>
        </div>
        <a class="forgot-password">
          ¿Olvidaste tu contraseña?
        </a>
      </div>
      <ion-button
        expand="block"
        class="login-btn"
        routerLink="/dashboard">
        INGRESAR
      </ion-button>
    </div>
  </div>
</ion-content>